.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
}

.welcomeMessage {
  text-align: center;
  color: var(--text-color);
}

.welcomeMessage h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.welcomeMessage p {
  font-size: 1rem;
  color: #8a8a8e;
}

.favoritesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 800px;
}

.favoriteItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 6px 16px 0 #dfe2fe;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: var(--White-Opacity-48, rgba(255, 255, 255, 0.48));
  text-align: left;
}

.favoriteItem:hover {
  border-style: solid;
  background-color: var(--White, #fff);
  box-shadow: 0 6px 16px 0 #dfe2fe;
  color: var(--text-color);
}

.itemIcon {
  font-size: 1.5rem;
  flex-shrink: 0;
}

.itemText {
  display: flex;
  flex-direction: column;
}

.itemTitle {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  gap: 12px;
}

.itemDescription {
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  color: var(--Gray-06, #868eba);
}

.addItem {
  min-width: 264px;
  color: var(--Gray-06, #868eba);
}
