/* app/components/InitialGreeting.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* 부모 컨테이너에 맞춰 높이 채우기 */
  width: 100%;
  color: var(--text-color); /* 테마에 맞는 텍스트 색상 */
  text-align: center;
  padding-bottom: 120px; /* 인풋바와의 겹침 방지 */
}

.logo {
  width: 128px; /* 로고 크기 */
  height: 128px;
  margin-bottom: 20px;
  color: var(--primary-color); /* 로고 색상 */
}

.title {
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 10px;
  color: var(--Gray-09, #293D5C); /* 강조 색상 */
}

.subtitle {
  font-size: 1em;
  color: var(--text-color-light); /* 보조 텍스트 색상 */
}