.chatLayout {
  display: flex;
  width: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 16px;
}

.chatHeader {
  flex-shrink: 0;
  height: 48px;
  position: relative;
  z-index: 15;
  width: 100%;
  background: linear-gradient(90deg, #BCA8FF 0%, #6941DF 100%);
  overflow: hidden;
  isolation: isolate;
  transition: height 3s ease-in-out;
}

.chatHeader::before {
  content: "";
  position: absolute;
  inset: -48px;
  background: url("/images/background.png") lightgray 50% / cover no-repeat;
  opacity: 0.12;
  filter: blur(28px);
  pointer-events: none;
}

.headerButton {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 100px;
  background: transparent;
}

.headerButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  height: 48px;
  color: #fff;
  padding: 0 16px;
}

.headerTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  flex-grow: 1;
  align-self: left;
}

.splashContainer {
  flex-grow: 1;
  flex: 1;
}

.full {
  height: 100%;
}

.half {
  height: calc(100% - 184px);
}


