.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, #b2c7d9);
}

.chatLayout {
  display: flex;
  width: 100%;
  height: 100%;
}

.contentAndInputWrapper {
  flex: 1; 
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; 
  /* --- 👇 [추가] --- */
  transition: margin-left 0.3s ease-in-out;
}

.panelsWrapper {
  display: flex;
  flex: 1; 
  overflow: hidden;
}

.mainContent {
  width: 100%;
  display: flex;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.chatLayout.scenarioOpen .mainContent {
  width: 60%;
}

.scenarioContent {
  width: 40%;
  display: flex; 
  border-left: 1px solid #e0e0e0;
}

.inactivePanel {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}